[Unit]
After=network-online.target
Description=serverOS TLS Certificate Holder
RequiresMountsFor=/var/lib/private/serverOS-TLS
StartLimitIntervalSec=120
StartLimitBurst=10

[Service]
Slice=serverOS.slice

DynamicUser=yes
Type=simple
ExecStart=sleep 3650d
TimeoutStartSec=120
TimeoutStopSec=10
Restart=on-failure
RestartSec=5s
OOMPolicy=stop
OOMScoreAdjust=-10

MemoryHigh=1M
CPUQuota=1%
CPUWeight=idle

StateDirectory=serverOS-TLS
StateDirectoryMode=0700

CapabilityBoundingSet=
AmbientCapabilities=

IPAddressDeny=multicast

DevicePolicy=closed

ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
SystemCallArchitectures=native
ProtectProc=invisible
ProcSubset=pid
PrivateUsers=yes

SystemCallFilter=~@aio:EPERM @chown:EPERM @clock:EPERM @cpu-emulation:EPERM @debug:EPERM @ipc:EPERM @keyring:EPERM @memlock:EPERM @module:EPERM @mount:EPERM @obsolete:EPERM @pkey:EPERM @raw-io:EPERM @reboot:EPERM @resources:EPERM @sandbox:EPERM @setuid:EPERM @swap:EPERM @sync:EPERM @timer:EPERM
SystemCallFilter=~@privileged:EPERM

RestrictAddressFamilies=none
PrivateNetwork=yes
DevicePolicy=closed
IPAddressAllow=localhost

UMask=077
